.navbar-dark {
  background-color: darkgoldenrod;
}

.navbar-brand {
  color: white;
}

.navbar-nav {
  position: relative;
  float: left;
  text-align: center;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 4px;
  margin: 10px;
  background-color: rgb(184, 134, 11);
  color: white;
}

.nav-item:hover {
  background-color: rgb(189, 162, 94);
}

.nav-item:active {
  color: rgb(255, 246, 222);
}

.dark-brown {
  background-color: #43352b;
}

.silver {
  background-color: #e1e1e1;
}

.gold {
  background-color: #fbcb55;
}

.beige {
  background-color: #bba38c;
}

.gray {
  background-color: #8e8e8e;
}

.warm-brown {
  color: #e1e1e1;
  background-color: #805651;
}

.green {
  background-color: #466959;
}
